@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SpectrumSans";
    src: url("../public/fonts/SpectrumSans_W_Rg.woff2");
  }

  @font-face {
    font-family: "SpectrumSansBold";
    src: url("../public/fonts/SpectrumSans_W_Bd.woff2");
  }
  @font-face {
    font-family: "SpectrumSansLight";
    src: url("../public/fonts/SpectrumSans_W_Lt.woff2");
  }
  @font-face {
    font-family: "SpectrumSansMedium";
    src: url("../public/fonts/SpectrumSans_W_Md.woff2");
  }
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0099d7;
  transition: width 0.3s;
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  transition: width 0.3s;
}
