@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SpectrumSans";
    src: url("../public/fonts/SpectrumSans_W_Rg.woff2");
  }

  @font-face {
    font-family: "SpectrumSansBold";
    src: url("../public/fonts/SpectrumSans_W_Bd.woff2");
  }
  @font-face {
    font-family: "SpectrumSansLight";
    src: url("../public/fonts/SpectrumSans_W_Lt.woff2");
  }
  @font-face {
    font-family: "SpectrumSansMedium";
    src: url("../public/fonts/SpectrumSans_W_Md.woff2");
  }
}
